<div class='page-title'>
  <h1>Editing Label</h1>
</div>

<%= render 'form' %>

<div class='parcel'>
  <%= link_to 'Show', @label, class: 'btn btn-default' %> |
  <%= link_to 'Back', labels_path, class: 'btn btn-default' %>
</div>
